@bgcolor: #211F2D;
@whitecolor: rgb(255, 255, 255);

@accent: #00BB40;
@accenthover: #43CE72;
@accentactive: #0E8938;

@bgcomponent: #373352;
@bgcomponenthover: #423D62;
@bgcomponentactive: #2F2B47;
@bgcomponentselected: #443E73;

@buttoncancelled: rgba(255, 255, 255, 0.15);
@statuscancelled: #5E5A79;

@fw400: 400;
@fw500: 500;
@fw600: 600;
@fw700: 700;

@tabletWidth: 768px;

.center-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between-flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-flex() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
